.vc-car {
    .select-box {
        margin-top: 50px;

        .gr-option {
            padding: 0 16px;
            border : 2px dashed $primary_color;
        }

        .gr-radio {
            .content-gr {
                display    : flex;
                align-items: center;
                position   : relative;
                margin     : 30px 0 20px;
            }

            label {
                margin-bottom: 0;
                font-size    : 18px;
                font-weight  : 700;
            }

            input[type="radio"].form-control {
                position: absolute;
                top     : 0px;
                left    : 0px;
                opacity : 0;
                cursor  : pointer;
                z-index : 1;

                &:checked {
                    &+span.bg {
                        &:before {
                            background-color: $primary_color;
                        }

                        &:after {
                            display: block;
                        }
                    }
                }
            }

            span.bg {
                cursor       : pointer;
                width        : 32px;
                height       : 32px;
                border       : 2px solid #D1D7DC;
                padding      : 0;
                display      : inline-block;
                position     : relative;
                top          : 0;
                margin-left  : 23px;
                border-radius: 50%;

                &:before {
                    position     : absolute;
                    width        : 32px;
                    height       : 32px;
                    top          : -2px;
                    left         : -2px;
                    background   : transparent;
                    content      : '';
                    border-radius: 50%;
                }

                &:after {
                    left             : 11px;
                    top              : 5px;
                    width            : 7px;
                    height           : 14px;
                    border           : solid white;
                    border-width     : 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform    : rotate(45deg);
                    transform        : rotate(45deg);
                    content          : "";
                    position         : absolute;
                }
            }
        }

        select {
            width           : 100%;
            padding         : 12px 30px;
            background-color: #fff;
            border          : 1px solid #ccc;
            outline         : none;
            border-radius   : 4px;
            margin-top      : 15px;
        }

        button {
            background-color: #fff;
            border          : 1px solid $primary_color;
            color           : $primary_color;
            outline         : none;
            padding         : 9px 25px;
            margin          : 20px auto;
            display         : block;

            &:hover {
                background-color: $primary_color;
                color           : #fff;
            }
        }

        table.table-price {
            width           : 100%;
            margin-bottom   : 1rem;
            margin-top      : 50px;
            background-color: transparent;
            border          : 1px solid #dee2e6;
            text-align      : center;

            th,
            td {
                border             : 1px solid #dee2e6;
                border-bottom-width: 2px;
                padding            : 12px;
            }

            thead {
                background-color: $primary_color;
                color           : #fff;
                text-transform  : uppercase;

                th {
                    border-bottom: 2px solid #dee2e6;
                    padding      : 24px 12px;
                }
            }
        }
    }

    .loading {
        position: relative;

        &:before {
            position        : absolute;
            content         : '';
            width           : 100%;
            height          : 100%;
            background-color: rgba(255, 255, 255, 0.5);
            top             : 0;
            left            : 0;
        }

        &:after {
            top             : 50%;
            left            : 50%;
            content         : '';
            width           : 30px;
            height          : 30px;
            margin-top      : 36px;
            border-radius   : 50%;
            border          : 2px solid #ccc;
            border-top-color: $primary_color;
            animation       : spinner .6s linear infinite;
            z-index         : 1;
            position        : absolute;
        }
    }
}